body {
margin: 0;
font-family: Arial;
}

.topnav {
    background-color: #ff6680;
    /*#333;*/
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px 0;
    z-index: 1;
}
/* Style the links inside the navigation bar */
div.topnav img{
  float: left;
  text-align: center;
}
.topnav a {
    float: left;
    display: block;
    color: white;
    /*#f2f2f2;*/
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover #ddd*/
.topnav a:hover {
    background-color: white;
    color: gold;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

#divProduct {
    padding: 360;
    background-image: url("https://static.pexels.com/photos/349609/pexels-photo-349609.jpeg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    font-family:Arial;
}

#button {
  align-items: center;
  position: relative;
}

.calorieTable{
  border:5px solid;
  border-color: #ef3d47;
  background-color: #ADD8E6;
  border-radius: 5px;
  padding-top: 0px;
  padding-right: 3px;
  padding-bottom: 2px;
  padding-right:3px;
}

.label {
    margin-bottom: 1.4em;
}

.input-inline, .inline {
    display: inline !important;
    width: auto !important;
}

.inCounter {
  vertical-align: baseline;
}

.rad {
  display: inline-block;
  width: auto;
  height: auto;
}

.activeText {
  border: 5px solid;
  background-color: #ADD8E6;
  text-align:left;
}
