
body {
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Verdana;
}
/* Navbar */
/* Add a black background color to the top navigation */
.topnav {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
}
/* Style the links inside the navigation bar */
div.topnav img{
  float: left;
  text-align: center;
  border: 1px solid #333;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
}

/* NavBar*/

div.main {
    width: 100%;
    border: 1px solid black;
    margin-top: 30px;
}

header {
    padding: 360;
    background-image: url("https://images.unsplash.com/photo-1490818387583-1baba5e638af?dpr=1&auto=compress,format&fit=crop&w=1531&h=&q=80&cs=tinysrgb&crop=");
    background-image: cover;
    background-attachment: fixed;
    color: black;
    text-align: center;
}
footer{
  padding: 10;
  background-color: black;
  color: #FFC80A;
  clear: left;
  text-align: center;

}
article {
    margin-left: 0px;
    padding: 15em;
    overflow: hidden;
    color: white;
    background-color: #bdaeff;
}

.button {
    position: relative;
    background-color: #bdaeff;
    border: none;
    font-size: 28px;
    color: #ff6680;
    padding: 20px;
    width: 200px;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    display: inline-block;
}

.button {border-radius: 12px;}

.button:hover {
  background-color: #ff6680;
  color: #bdaeff;
  cursor: pointer;
  }

.button:active {
  background-color: white;
  color: black;
  }

#MainTitle {
  text-align: center;
  font-family: cursive;
  font-size: 80;
  color: #ff6680;
}

/*CONTACT*/
#contact {
    height: auto;
    position: relative;
    justify-content: center;
    z-index: 1;
    overflow: hidden;
    background-color: #1b1e33;
}

#contact-content {
    position: relative;
    justify-content: center;
    display: flex;
    z-index: 2;
    margin-top: 0%;
    overflow: hidden;
}

#contact-info {
    width: 50%;
    z-index: 3;
    text-align: left;
    position: relative;
}

#contact-form {
    width: 50%;
    z-index: 3;
    text-align: left;
    display: block;
}

#contact-bottom {
    width: 100%;
    font-size: 2em;
    text-align: center;
    float: center;
}

#contact-title {
    font-size: 1.5em;
    text-align: center;
    z-index: 1;
    letter-spacing: 2px;
    padding-top: 0%;
}

.contact-stuff {
    font-size: 1em;
    z-index: 4;
    margin-left: 18%;
}

#contact-info-first {
    margin-top: 5%;
}

#contact-name-box, #contact-email-box {
    background-color: transparent;
    color: #FFC80A;
    padding: 0.25em 0.25em;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #FFC80A 2px;
    width: 85%;
}

::-webkit-input-placeholder {
    font-family: montserrat;
}

#name-elements, #email-elements {
    width: 50%;
    float: left;
}

#message-elements {
    margin-top: 10%;
}

#contact-message-box {
    background-color: transparent;
    color: #FFC80A;
    padding: 0.25em 0.25em;
    outline: none;
    outline-style: none;
    border: solid #FFC80A 2px;
    width: 92.5%;
    resize: none;
}

#contact-name, #contact-email, #contact-message {
    fontsize: 1em;
    visibility: hidden;
}

#bottom-button {
    width: 92.5%;
    content-align: center;
    padding: 0px 45%;
}

#contact-button {
    margin-top: 5%;
    margin-bottom: 5%;
}

/* copyright */
p#copyright {
    font-size: 50%;
    color: #eeeeee;
    font-weight: 300;
    letter-spacing: 0.09375em;
    transition-duration: 0.3s;
}

p#copyright:hover {
    cursor: pointer;
    color: #FFC80A;
    transform: scale(1.05,1.05);
    transition-duration: 0.3s;
}

#footer-copyright {
    display: flex;
    justify-content: center;
    cursor: pointer;
}
